<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="como-donar.css">
</head>
<body>
  <header>
    <h1>Donaciones en Línea</h1>
  </header>

  <section class="como-donar">
    <h2>Cómo Donar</h2>
    <p>Donar es fácil. Siga los siguientes pasos:</p>

    <ol>
      <li>Presione en el formulario que se encuentra en la pagina principal o entre desde <a href="formulario.html" target="_blank">aqui</a>.</li>
      <li>Rellene el formulario con su información personal.</li>
      <li>Seleccione el monto que desea donar y elija un método de pago (tarjeta de crédito, PayPal, Cripto, etc).</li>
      <li>Haga clic en el botón "Donar" para finalizar la transacción.</li>
    </ol>

    <p>Gracias por su generosidad y apoyo.</p>
   
  </section>

  <footer>
    <p>&copy; 2023 Donaciones en Línea. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
