<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/como-donar.css">
</head>
<body>
    <header>
    
        <h1>Dona online</h1>
        <nav>
            <ul>
                <li><a href="home.html" target="_blank">Home</a></li>
                <li><a href="quienes-somos.html" target="_blank">Quiénes Somos</a></li>                
                <li><a href="como-donar.html" target="_blank">Cómo Donar</a></li>
                <li><a href="sponsors.html" target="_blank">Sponsors</a></li>
                <li><a href="contacto.html" target="_blank">Contacto y Redes Sociales</a></li>
                <li><a href="fundaciones.html" target="_blank">Nuestras Fundaciones</a></li>
               
            </ul>
        </nav>
    
    </header>

  <section class="como-donar">
    <h2>Cómo Donar</h2>
    <p>Donar es fácil. Siga los siguientes pasos:</p>

    <ol>
      <li>Presione en el formulario que se encuentra en la pagina principal o entre desde <a href="formulario.html" target="_blank">aqui</a>.</li>
      <li>Rellene el formulario con su información personal.</li>
      <li>Seleccione el monto que desea donar, elija un método de pago (tarjeta de crédito, PayPal, Cripto, etc) y a la fundación a la que desea que se destine el aporte.</li>
      <li>Haga clic en el botón "Donar" para finalizar la transacción.</li>
    </ol>

    <p>Gracias por su generosidad y apoyo.</p>
   
  </section>

  <footer>
    <p>&copy; 2023 Donaciones en Línea. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
