<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="contacto.css">
</head>
<body>
  <header>
    <header>
        <h1>Dona online</h1>
        <nav>
            <ul>
                <li><a href="home.html" target="_blank">Home</a></li>
                <li><a href="quienes-somos.html" target="_blank">Quiénes Somos</a></li>                
                <li><a href="como-donar.html" target="_blank">Cómo Donar</a></li>
                <li><a href="sponsors.html" target="_blank">Sponsors</a></li>
                <li><a href="contacto.html" target="_blank">Contacto y Redes Sociales</a></li>
               
            </ul>
        </nav>
    </header>
  </header>

  <section class="contacto-redes">
    

    <div class="contacto">
      <h3>Contacto</h3>
      <p>Puede ponerse en contacto con nosotros a través de:</p>
      <ul>
        <li>Correo electrónico: <a href="mailto:info@donacionesenlinea.com">info@donacionesenlinea.com</a></li>
        <li>Teléfono: +1-123-456-7890</li>
      </ul>
    </div>

    <div class="redes-sociales">
      <h3>Redes Sociales</h3>
      <p>Síganos en nuestras redes sociales para mantenerse al día:</p>
      <ul>
        <li><a href="https://facebook.com/donacionesenlinea">Facebook</a></li>
        <li><a href="https://twitter.com/donacionesenlinea">Twitter</a></li>
        <li><a href="https://instagram.com/donacionesenlinea">Instagram</a></li>
      </ul>
    </div>
  </section>

  <footer>
    <p>&copy; 2023 Donaciones en Línea. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
