<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Donaciones en Línea</title>
    <link rel="stylesheet" type="text/css" href="../static/fundaciones.css">
</head>
<body>
    <header>
        <h1>Dona online</h1>
        <nav>
            <ul>
                <li><a href="home.html" target="_blank">Home</a></li>
                <li><a href="quienes-somos.html" target="_blank">Quiénes Somos</a></li>                
                <li><a href="como-donar.html" target="_blank">Cómo Donar</a></li>
                <li><a href="sponsors.html" target="_blank">Sponsors</a></li>
                <li><a href="contacto.html" target="_blank">Contacto y Redes Sociales</a></li>
                <li><a href="fundaciones.html" target="_blank">Nuestras Fundaciones</a></li>
               
            </ul>
        </nav>
    </header>
<h1>Fundación Unicef</h1>
    <p>Se dedican a llevarle agua potable y comida a los pueblos de escasos recursos en África.</p>
<h1>Fundación Caritas</h1>
    <p>Proporcionar ayuda a los sobrevivientes de desastres naturales, ayudar a las comunidades a prepararse para emergencias, incluida la capacitación en primeros auxilios y a cómo prevenir enfermedades.</p>
<h1>Fundación Techo</h1>
    <p>Construyen viviendas dignas en asientamientos marginales.</p>
    <footer>
        <p>&copy; 2023 Dona online</p>
    </footer>
</body>
</html>
