<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="estilo.css">
	<title>DonaOnline</title>
</head>
<header>
</header>

<body>

		
		<h1>Dona Futuro</h1>
		<main>
			<section id="quienes-somos">
				<h2>Quiénes Somos</h2>
				<p>Somos una organización sin fines de lucro dedicada a brindar ayuda y apoyo a quienes más lo necesitan. Nuestra misión es mejorar la vida de las personas a través de donaciones y acciones solidarias.</p>
			</section>
			<section id="nuestro-objetivo">
				<h2>Nuestro Objetivo</h2>
				<p>Nuestro objetivo es crear un mundo mejor y más igualitario. A través de donaciones en línea, colaboramos con organizaciones benéficas y causas diversas para hacer una diferencia en la vida de las personas y comunidades en todo el mundo.</p>
			</section>
			<div>
				<a href="formulario.html" target="_blank"> Quiero donar!</a>
			</div>
		</main>
		<footer>
			<p>&copy; 2023 Donaciones en Línea</p>
		</footer>
	
	

</body>
</html>


