<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Quiénes Somos</title>
    <link rel="stylesheet" href="quienes-somos.css">
</head>
<body>
    <h1>Quiénes Somos</h1>
    <p>
        
        
        <h3>¿Quiénes Somos?</h3>
        
        En Donaciones en Línea, somos una organización sin fines de lucro comprometida con la causa de mejorar la vida de las personas y comunidades más vulnerables. Nuestra pasión es brindar apoyo y esperanza a aquellos que enfrentan desafíos en sus vidas.
        
        <h4>Nuestra Misión </h4>
        
        Nuestra misión es clara y poderosa: trabajar incansablemente para marcar una diferencia positiva en el mundo. Buscamos abordar problemas críticos como la pobreza, el hambre, la falta de acceso a una educación de calidad y la atención médica limitada. Creemos que cada persona merece la oportunidad de alcanzar su máximo potencial y vivir una vida digna y significativa.
        
        <h4>Nuestra Visión</h4>
        
        Nuestra visión es un mundo donde la solidaridad y el apoyo mutuo prevalezcan. Imaginamos un futuro donde la igualdad y la justicia sean una realidad para todos, donde la compasión y la generosidad impulsen el cambio. Trabajamos incansablemente para construir un mundo más compasivo y equitativo, donde todas las personas tengan acceso a oportunidades y recursos para prosperar.
        
        <h4>Nuestros Valores </h4>
        
        Nuestros valores son la base de todo lo que hacemos. Creemos en:
        <br>
        <br>
        
        - Solidaridad: Trabajamos juntos con comunidades y aliados para crear un impacto positivo duradero.
        <br>
        - Transparencia:Rendimos cuentas de manera abierta y honesta, asegurando que las donaciones se utilicen de manera efectiva.
        <br>
        - Empoderamiento: Capacitamos a las personas para que se conviertan en agentes de cambio en sus propias vidas y comunidades.
       <br>
        - Compromiso:Estamos comprometidos en nuestro esfuerzo constante por hacer el bien y marcar la diferencia.
        
        
</body>
</html>
